<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TT</key>
	<array>
		<dict>
			<key>faceName</key>
			<string>[微笑]</string>
			<key>imgName</key>
			<string>Smile</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[大笑]</string>
			<key>imgName</key>
			<string>Laugh</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[色]</string>
			<key>imgName</key>
			<string>Heart</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[失望]</string>
			<key>imgName</key>
			<string>Foot In Mouth</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[撇嘴]</string>
			<key>imgName</key>
			<string>Undecided</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[哭]</string>
			<key>imgName</key>
			<string>Crying</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[惊恐]</string>
			<key>imgName</key>
			<string>LargeGasp</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[亲亲]</string>
			<key>imgName</key>
			<string>Kiss</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[大眼]</string>
			<key>imgName</key>
			<string>Halo</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[抓狂]</string>
			<key>imgName</key>
			<string>ohnoes</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[脸红]</string>
			<key>imgName</key>
			<string>Blush</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[书呆子]</string>
			<key>imgName</key>
			<string>Nerd</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[皱眉]</string>
			<key>imgName</key>
			<string>Frown</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[吐]</string>
			<key>imgName</key>
			<string>Sick</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[生气]</string>
			<key>imgName</key>
			<string>Angry</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[可爱]</string>
			<key>imgName</key>
			<string>Grin</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[吐舌]</string>
			<key>imgName</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[眨眼]</string>
			<key>imgName</key>
			<string>Wink</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[好吃]</string>
			<key>imgName</key>
			<string>Yum</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[天使]</string>
			<key>imgName</key>
			<string>Angel</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[得意]</string>
			<key>imgName</key>
			<string>Hot</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[晕]</string>
			<key>imgName</key>
			<string>Confused</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[犹豫]</string>
			<key>imgName</key>
			<string>Ambivalent</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[暴走]</string>
			<key>imgName</key>
			<string>VeryAngry</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[讽刺]</string>
			<key>imgName</key>
			<string>Sarcastic</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[花痴]</string>
			<key>imgName</key>
			<string>Crazy</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[闭嘴]</string>
			<key>imgName</key>
			<string>Lips are Sealed</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[土豪]</string>
			<key>imgName</key>
			<string>Money-mouth</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[惊讶]</string>
			<key>imgName</key>
			<string>Gasp</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[调皮]</string>
			<key>imgName</key>
			<string>Naughty</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[海盗]</string>
			<key>imgName</key>
			<string>Pirate</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[强]</string>
			<key>imgName</key>
			<string>Thumbs Up</string>
		</dict>
		<dict>
			<key>faceName</key>
			<string>[弱]</string>
			<key>imgName</key>
			<string>Thumbs Down</string>
		</dict>
	</array>
	<key>没用的</key>
	<dict>
		<key>Smile</key>
		<string>[微笑]</string>
		<key>Laugh</key>
		<string>[大笑]</string>
		<key>Heart</key>
		<string>[色]</string>
		<key>Foot In Mouth</key>
		<string>[失望]</string>
		<key>Undecided</key>
		<string>[撇嘴]</string>
		<key>Crying</key>
		<string>[哭]</string>
		<key>LargeGasp</key>
		<string>[惊恐]</string>
		<key>Kiss</key>
		<string>[亲亲]</string>
		<key>Halo</key>
		<string>[大眼]</string>
		<key>ohnoes</key>
		<string>[抓狂]</string>
		<key>Blush</key>
		<string>[脸红]</string>
		<key>Nerd</key>
		<string>[书呆子]</string>
		<key>Frown</key>
		<string>[皱眉]</string>
		<key>Sick</key>
		<string>[吐]</string>
		<key>Angry</key>
		<string>[生气]</string>
		<key>Grin</key>
		<string>[可爱]</string>
		<key>Sticking Out Tongue</key>
		<string>[吐舌]</string>
		<key>Wink</key>
		<string>[眨眼]</string>
		<key>Yum</key>
		<string>[好吃]</string>
		<key>Angel</key>
		<string>[天使]</string>
		<key>Hot</key>
		<string>[得意]</string>
		<key>Confused</key>
		<string>[晕]</string>
		<key>Ambivalent</key>
		<string>[犹豫]</string>
		<key>VeryAngry</key>
		<string>[暴走]</string>
		<key>Sarcastic</key>
		<string>[讽刺]</string>
		<key>Crazy</key>
		<string>[花痴]</string>
		<key>Lips are Sealed</key>
		<string>[闭嘴]</string>
		<key>Money-mouth</key>
		<string>[土豪]</string>
		<key>Gasp</key>
		<string>[惊讶]</string>
		<key>Naughty</key>
		<string>[调皮]</string>
		<key>Pirate</key>
		<string>[海盗]</string>
		<key>Thumbs Up</key>
		<string>[强]</string>
		<key>Thumbs Down</key>
		<string>[弱]</string>
	</dict>
</dict>
</plist>
