<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionheader</key>
		<string>我的信息</string>
		<key>celldatas</key>
		<array>
			<dict>
				<key>title</key>
				<string>职业</string>
				<key>placeholder</key>
				<string>添加职业信息</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>occupation</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>来自</string>
				<key>placeholder</key>
				<string>添加家乡信息</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>hometown</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>经常出没</string>
				<key>placeholder</key>
				<string>添加常去的地点</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>haunt</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>个性签名</string>
				<key>placeholder</key>
				<string>添加你的个性签名</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>signature</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionheader</key>
		<string>我的社交账号</string>
		<key>celldatas</key>
		<array>
			<dict>
				<key>title</key>
				<string>我的微信</string>
				<key>placeholder</key>
				<string>添加微信账号</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>weixin</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionheader</key>
		<string>我的标签</string>
		<key>celldatas</key>
		<array>
			<dict>
				<key>title</key>
				<string>我的个性标签</string>
				<key>placeholder</key>
				<string>iconName</string>
				<key>content</key>
				<string>幽默,女汉子,千里走单骑,战地之王,单机,CS,单车魔法</string>
				<key>key</key>
				<string>personality</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionheader</key>
		<string>我的兴趣</string>
		<key>celldatas</key>
		<array>
			<dict>
				<key>title</key>
				<string>我喜欢的运动</string>
				<key>placeholder</key>
				<string>iconName</string>
				<key>content</key>
				<string>幽默,女汉子,千里走单骑,战地之王,单机,CS</string>
				<key>key</key>
				<string>sports</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>我喜欢的音乐</string>
				<key>placeholder</key>
				<string>iconName</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>music</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>我喜欢的食物</string>
				<key>placeholder</key>
				<string>iconName</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>food</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>我喜欢的电影</string>
				<key>placeholder</key>
				<string>iconName</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>movies</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>我喜欢的书和动漫</string>
				<key>placeholder</key>
				<string>iconName</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>literature</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>我的旅行足迹</string>
				<key>placeholder</key>
				<string>iconName</string>
				<key>content</key>
				<string></string>
				<key>key</key>
				<string>places</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
