<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>models</key>
			<array>
				<dict>
					<key>title</key>
					<string>职业</string>
					<key>content</key>
					<string></string>
					<key>placeholder</key>
					<string>添加职业信息</string>
					<key>type</key>
					<string>normalHeight</string>
				</dict>
				<dict>
					<key>title</key>
					<string>来自</string>
					<key>content</key>
					<string></string>
					<key>placeholder</key>
					<string>添加家乡信息</string>
					<key>type</key>
					<string>normalHeight</string>
				</dict>
				<dict>
					<key>title</key>
					<string>经常出没</string>
					<key>content</key>
					<string></string>
					<key>placeholder</key>
					<string>添加常去的地点</string>
					<key>type</key>
					<string>normalHeight</string>
				</dict>
				<dict>
					<key>title</key>
					<string>个人签名</string>
					<key>content</key>
					<string></string>
					<key>placeholder</key>
					<string>添加你的个人签名</string>
					<key>type</key>
					<string>normalHeight</string>
				</dict>
			</array>
			<key>headerText</key>
			<string>我的信息</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>models</key>
			<array>
				<dict>
					<key>title</key>
					<string>我的微信</string>
					<key>content</key>
					<string></string>
					<key>placeholder</key>
					<string>添加微信帐号</string>
					<key>type</key>
					<string>normalHeight</string>
				</dict>
			</array>
			<key>headerText</key>
			<string>我的社交帐号</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>models</key>
			<array>
				<dict>
					<key>imageName</key>
					<string>Crazy</string>
					<key>title</key>
					<string>我的个性标签</string>
					<key>tags</key>
					<array>
						<string>千里走单骑</string>
						<string>战地之王</string>
						<string>单机 CS</string>
						<string>单车魔法</string>
						<string>爬山</string>
						<string>LOL</string>
						<string>听歌</string>
						<string>传奇2</string>
						<string>地下城</string>
						<string>默默</string>
					</array>
					<key>type</key>
					<string>autoHeight</string>
				</dict>
			</array>
			<key>headerText</key>
			<string>我的标签</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>models</key>
			<array>
				<dict>
					<key>imageName</key>
					<string>Crazy</string>
					<key>title</key>
					<string>我喜欢的运动</string>
					<key>tags</key>
					<array>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
						<string>AG</string>
					</array>
					<key>type</key>
					<string>autoHeight</string>
				</dict>
				<dict>
					<key>imageName</key>
					<string>Crazy</string>
					<key>title</key>
					<string>我喜欢的音乐</string>
					<key>tags</key>
					<array/>
					<key>type</key>
					<string>autoHeight</string>
				</dict>
				<dict>
					<key>imageName</key>
					<string>Crazy</string>
					<key>title</key>
					<string>我喜欢的食物</string>
					<key>tags</key>
					<array/>
					<key>type</key>
					<string>autoHeight</string>
				</dict>
				<dict>
					<key>imageName</key>
					<string>Crazy</string>
					<key>title</key>
					<string>我喜欢的电影</string>
					<key>tags</key>
					<array/>
					<key>type</key>
					<string>autoHeight</string>
				</dict>
				<dict>
					<key>imageName</key>
					<string>Crazy</string>
					<key>title</key>
					<string>我喜欢的书和动漫</string>
					<key>tags</key>
					<array/>
					<key>type</key>
					<string>autoHeight</string>
				</dict>
				<dict>
					<key>imageName</key>
					<string>Crazy</string>
					<key>title</key>
					<string>我的旅行足迹</string>
					<key>tags</key>
					<array/>
					<key>type</key>
					<string>autoHeight</string>
				</dict>
			</array>
			<key>headerText</key>
			<string>我的兴趣</string>
			<key>footerText</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
